//     yellow   ---FFB403
// blue----02A6ED

$color1: #ffb403;
$color2: #02A6ED;
$color3: #000000;
$color4: #07689f;
$color5: #ffff; 
$color6: #bdbdbd;
$hoverColor: #217aff;
$btnTransitions: all 0.3s ease-in-out;
